POSTGRES_PASSWORD=replace-with-a-long-random-password
REDIS_PASSWORD=replace-with-a-different-long-random-password
PUBLIC_ORIGIN=https://liveopweg.nl
PUBLIC_DOMAIN=liveopweg.nl
PUBLIC_PORT=8080

# Optioneel
NS_API_KEY=
NDOV_ENDPOINT=tcp://pubsub.besteffort.ndovloket.nl:7664
NDW_ROAD_URL=https://opendata.ndw.nu/actueel_beeld.xml.gz
